<footer>
  <div class="ft-info">
    <div class="ft-info-social">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>
    <div class="ft-info-brand">&copy;Wahid Private Limited</div>
    <div class="ft-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
