<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h3>Create a new listing</h3>
    <form action="/listings" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          ,
          placeholder="Enter title of place"
          class="form-control"
          required
        />
        <div class="valid-feedback">title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          type="text"
          name="listing[description]"
          ,
          placeholder="Enter description"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">please enter a short description</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="text"
          name="listing[image]"
          placeholder="Enter image link/url"
          class="form-control"
        />
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please enter valid price</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="Pakistan"
            class="form-control"
            required
          />
          <div class="invalid-feedback">country should be valid</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Peshawar, mardan"
          class="form-control"
          required
        />
        <div class="invalid-feedback">location should be valid</div>
      </div>
      <button class="btn btn-dark btn-color">Add</button>
      <br />
      <br />
      <br />
    </form>
  </div>
</div>
